body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
    margin: 0;
}

.container{
    max-width: 700px;
    margin: 40px auto;
    background: white;
    padding :25px;
    border-radius: 10px;
    box-shadow: 0 4px rgba(0,0,0,0.08);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

input{
    padding: 10px;
    margin : 8px 5px 8px 0;
    border: 1px solid #ddd;
}

button{
    padding: 10px 14px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
    opacity:0.9;
}

.add-btn{
    background: #2e86de;
    color: white;
}

.edit-btn{
    background: #f39c12;
    color: white;
}

.delete-btn{
    background: #e74c3c;
    color:white
}

.card{
    border: 1px solid #eee;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    background: #fafafa;
}